body{
  background-color: #EEF1FF
}

h1 {
  color:#645CAA
}
h3 {
  color:#6D67E4
}



/** color palet
#453C67
#6D67E4
#645CAA
#A084CA
#BFACE0
#EBC7E8
#B1B2FF
#AAC4FF
#D2DAFF
#EEF1FF
**/
